body {
    background-color: #f5ebe0;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: sans-serif;
}

.interests-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.site-header {
    padding-top: 2rem;
    text-align: center;
}

.site-title {
    margin: 0;
    font-size: 2rem;
    color: rgb(0, 0, 0);
}

.site-subtitle {
    margin: 0;
    font-size: 1.2rem;
    font-style: italic;
    color: dimgray;
}
